<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.sportnmedc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name="BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LandingActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ui.activities.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".HomeActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".SelectItemActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".LeaderBoardActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".userdetail.UserDetailActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".LibraryDetailActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".CardDetailActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!--        <activity android:name=".FindUserActivityEx"-->
        <!--                  android:screenOrientation="portrait"-->
        <!--                  android:windowSoftInputMode="stateHidden|adjustResize"/>-->

        <activity android:name=".TradeConfirmActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".SellActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".BuyActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".SellConfirmActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".ResultActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".RewardSystemActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".AddCoinActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".PaymentActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".PaymentResultActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".TextActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".TradeActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".TradeDetailActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".TradeNewActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".SelectCardActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".TransactionDetailActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ReceiveActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".SendActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".SendDetailActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".SendConfirmActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".SendResultActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".RedemptionCenterActivityEx"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>


    </application>

</manifest>